<header id="top" class="page__header">

  <div class="buttom_menu">
    <a class="link-menu" href="#anchor_main"><img class="image_menu" src="assets/images/ico-menu.svg" alt="Icono de menú">
    </a>
  </div>

  <div class="title_web">
    <h1 class="principal_title">Anonymous proxy</h1>
    <p class="principal_paragraph">In hac habitasse platea dictumst.</p>
    <div class="arrow_continue">
      <img class="link_bottom" src="assets/images/ico-scroll-down.svg" alt="Icono de scroll para abajo">
    </div>
  </div>
</header>
