<main class="page__main">
  <div class="container_section_1">
    <article>
      <h3 class="little_title">Insomnia tips</h3>
      <h2 class="main_title_article">Looking through a window</h2>
      <p class="description">Donec accusam, nulla ut volutpat porttitor, quam oidio tempus felis, at luctus ex diam nec lectus. Vivamus
        semper sodales rutrum</p>
      </article>
    <a class="go_buttom"href="">Go</a>
  </div>
  <div class="container_section_2">
    <section>
      <h2>3 Reasons to purchase</h2>
      <ul>
        <li>
          <h3>Ut sed metus</h3>
          <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </li>
        <li>
          <h3>Curabitur ac erat</h3>
          <p>Mauris mattis urna quis lorem molestie.</p>
        </li>
        <li>
          <h3>Morbi dictum</h3>
          <p>Aliquam in dolor et dolor tincidunt.</p>
        </li>
      </ul>
    </section>
    <a href="">More reasons</a>
  </div>
</main>
