<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <title>Anonymous proxy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="assets/scss/main.scss">
</head>
<body>
  <div class="page">
    hola mundo
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="Footer"></partial>
  </div>
</body>
</html>
