.container_section_1 {
    display:flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 45px;
    padding: 0 15px;
    height: 376px;
    width: 320px;
}

.little_title {
    color: $color-quinary;
    font-size: $font-size-tertiary;
    font-weight: $font-weight-secondary;
    height: 30px;
    width: 90px;
}

.main_title_article {
    color: $color-primary;
    font-size: $font-size-quaternary;
    line-height: $line-height-secondary;
    font-weight: $font-weight-primary;
    padding-bottom: 15px;
}

.description {
    color: $color-tertiary;
    font-size: $font-size-quinary;
    line-height: $line-height-secondary;
    font-weight: $font-weight-secondary;
}

.go_buttom {
    text-decoration: none;
    color: $color-sexagenarian;
    border: 2px solid $color-sexagenarian;
    border-radius: 22.5px;
    width: 76px;
    height: 45px;
    text-align: center;
    margin-top: 30px;
}

.container_section_2 {
    width: 320px;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.title_section_2 {
    font-family: $font-family-secondary;
    color: $color-primary;
    font-size: $font-size-quaternary;
    font-weight: $font-weight-primary;
    line-height: $line-height-secondary;
    padding-top: 30px;
    padding-bottom: 45px;
    grid-column-start: auto;
}

.item_1 {
    grid-column-start: 2 / 3;
    padding-bottom: auto;
}

.item_2 {
    grid-column-start: 3 / 4;
    padding-bottom: auto;
}

.item_3 {
    grid-column-start: 4 / 5;
    padding-bottom: auto;
}

.title_reason {
    font-family: $font-family-secondary;
    color: $color-primary;
    font-size: $font-size-quinary;
    font-weight: $font-weight-primary;
    line-height: $line-height-secondary;
    width: 184px;
    height: 30px;
    margin-bottom: 2px;
}

.reason {
    font-family: $font-family-primary;
    color: $color-primary;
    font-size: $font-size-quinary;
    line-height: $line-height-secondary;
    font-weight: $font-weight-secondary;
}

.container_link_reasons {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $background-color-tertiary; 
    text-align: center;
    grid-column-start: auto;
    
}

.link_reasons {
    text-decoration: none;
    color: $color-quaternary;
    font-family: $font-family-primary;
    font-size: $font-size-sexagenarian;
    font-weight: $font-weight-tertiary;
}



