.container_section_1 {
    display:flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 45px;
    padding: 0 15px;
    height: 376px;
    max-width: 100vw;
}

.little_title {
    color: $color-quinary;
    font-family: $font-family-primary;
    font-size: $font-size-tertiary;
    font-weight: $font-weight-secondary;
    height: 30px;
}

.main_title_article {
    color: $color-primary;
    font-family: $font-family-secondary;
    font-size: $font-size-quaternary;
    line-height: $line-height-secondary;
    font-weight: $font-weight-primary;
    padding-bottom: 15px;
}

.description {
    color: $color-tertiary;
    font-family: $font-family-primary;
    font-size: $font-size-quinary;
    line-height: $line-height-secondary;
    font-weight: $font-weight-secondary;
}

.go_buttom {
    text-decoration: none; 
    border: 2px solid $color-sexagenarian;
    border-radius: 22.5px;
    width: 76px;
    height: 45px;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
}

.go_link {
    text-decoration: none;
    color: $color-sexagenarian;
}

.go_buttom:hover {
    width: 100px;
    height: 70px;
    padding-top: 20px;
    border: 5px solid $color-sexagenarian;
}

.container_section_2 {
    max-width: 100vw;
    min-height: 624px;
    background-color: #eff9ff;
}

.title_section_2 {
    font-family: $font-family-secondary;
    color: $color-primary;
    font-size: $font-size-quaternary;
    font-weight: $font-weight-primary;
    line-height: $line-height-secondary;
    padding: 30px 15px 0 15px;;
    text-align: center;
}

.title_section_2:hover {
    text-decoration: underline;
}

.item {
    margin: 45px 70px 0 70px;
    text-align: center;
    list-style-type: none;
}

.title_reason {
    font-family: $font-family-secondary;
    color: $color-primary;
    font-size: $font-size-quinary;
    font-weight: $font-weight-primary;
    line-height: $line-height-secondary;
    width: 184px;
    height: 30px;
}

.reason {
    font-family: $font-family-primary;
    color: $color-primary;
    font-size: $font-size-quinary;
    line-height: $line-height-secondary;
    font-weight: $font-weight-secondary;
}

.container_link_reasons {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $background-color-tertiary; 
    text-align: center;
    padding-top: 10px;
    margin: 45px 68px 60px 68px;
}

.link_reasons {
    text-decoration: none;
    color: $color-quaternary;
    font-family: $font-family-primary;
    font-size: $font-size-sexagenarian;
    font-weight: $font-weight-tertiary;
}

/*Styles for tablet*/

@media all and (min-width: 768px) {
    .container_section_1 {
        padding: 30px 39px 60px 39px;
        margin: 0;
        height: 100%;
    }
    
    .little_title {
        font-size: $font-size-tertiary;
    }
    
    .main_title_article {
        font-size: 26px;
    }

    .description {
        font-size: $font-size-sexagenarian;
    }

    .go_buttom {
        width: 91px;

    }

    .title_section_2 {
        font-size: 26px;
    }

    .title_reason {
        font-size: $font-size-quaternary;
    }

    .reason {
        font-size: $font-size-secondary; 
    }

    .container_section_1, .container_section_2 {
        width: 100%;
    }
}



