.container_section_1 {
    display:flex;
    flex-direction: column;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 45px;
    padding: 0 15px;
    height: 376px;
    width: 320px;
}

.little_title {
    color: $color-quinary;
    font-size: $font-size-tertiary;
    font-weight: $font-weight-secondary;
    height: 30px;
}

.main_title_article {
    color: $color-primary;
    font-size: $font-size-quaternary;
    line-height: $line-height-secondary;
    font-weight: $font-weight-primary;
    padding-bottom: 15px;
}

.description {
    color: $color-tertiary;
    font-size: $font-size-quinary;
    line-height: $line-height-secondary;
    font-weight: $font-weight-secondary;
}

.go_buttom {
    text-decoration: none; 
    border: 2px solid $color-sexagenarian;
    border-radius: 22.5px;
    width: 76px;
    height: 45px;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
}

.go_link {
    text-decoration: none;
    color: $color-sexagenarian;
}

.container_section_2 {
    width: 320px;
    min-height: 624px;
    background-color: #eff9ff;
}

.title_section_2 {
    font-family: $font-family-secondary;
    color: $color-primary;
    font-size: $font-size-quaternary;
    font-weight: $font-weight-primary;
    line-height: $line-height-secondary;
    padding: 30px 15px 0 15px;;
    text-align: center;
}

.item {
    margin: 45px 70px 0 70px;
    text-align: center;
    list-style-type: none;
}

.title_reason {
    font-family: $font-family-secondary;
    color: $color-primary;
    font-size: $font-size-quinary;
    font-weight: $font-weight-primary;
    line-height: $line-height-secondary;
    width: 184px;
    height: 30px;
}

.reason {
    font-family: $font-family-primary;
    color: $color-primary;
    font-size: $font-size-quinary;
    line-height: $line-height-secondary;
    font-weight: $font-weight-secondary;
}

.container_link_reasons {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $background-color-tertiary; 
    text-align: center;
    padding-top: 10px;
    margin: 45px 68px 60px 68px;
}

.link_reasons {
    text-decoration: none;
    color: $color-quaternary;
    font-family: $font-family-primary;
    font-size: $font-size-sexagenarian;
    font-weight: $font-weight-tertiary;
}



